.weeklyHabitCard {
  background-color: #ffefd5;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.habitName {
  font-size: 1.6rem;
  margin-bottom: 8px;
  /* text-align: center; */
}

.datesRow {
  display: flex;
  justify-content: space-between;
}

.dateColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
  text-align: center;
}

.statusButtons {
  display: flex;
  /* background: blue; */
  width: 100%;
  justify-content: space-evenly;
}

.statusButton {
  /* background-color: #ccc;
  color: #fff;
  border: none; */
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.statusButton.done {
  background-color: #2ecc71;
}

.statusButton.notDone {
  background-color: #e74c3c;
}

.statusButton.noActionTaken {
  background-color: #aaa;
  font-size: 20px;
}
